body{
    margin:0;
}
.content{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    width: 1000px;
    margin: 0 auto;
}
.item{
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2); 
    border-radius: 5px;  
    padding: 5px;  
    width: 200px; 
    height: 400px;
    margin-bottom: 25px;  
}
.item:hover{
    transition: .5s all;
    cursor:pointer;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5); 
    
}
.item img{
    width:180px;
}
.item__title{
    color:rgba(230, 117, 52, 0.87);
    font-size: 21px;
}
.item__price{
    color:red;
    font-weight: bold;
    font-size: 18px;
}
.content a{
    text-decoration: none;
}
.itemContainer{
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2); 
    width: 90%;
    padding: 20px 20px;
}
.itemContainer .item__image{
    width: 200px;
}

.category-wrapper {
    padding:25 px;
}